<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Follow the money</title>

    <!-- get Droid sans & serif from google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:700,400|Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    
    <!-- get page stylesheet in stylesheets folder --> 
    <link rel="stylesheet" href="/static/stylesheets/styles.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
      ["Emergency Name","Total Duration","Funds Committed","","People Affected"],
      ["East Africa Drought",40956,328906436,0,13300000],
      ["Haiti Earthquake",178640,4167057145,0,3400000],
      ["Indian Ocean Tsunami",33524,6249883899,0,2300000],
      ["Japanese Earthquake & Tsunami",234398,722936734,0,368820],
      ["Pakistan Floods",58831,2918451998,0,20000000]
        ]);

        var options = {
          hAxis: {title: 'Total Duration'},
          vAxis: {title: 'Funds Committed'},
          bubble: {textStyle: {fontSize: 11}}
        };

        var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

  </head>
<body>

  <header class="header">
  
  <!-- project title -->
    <h1 class="title">Media influence on development funding.</h1>

  </header>

  <div class="wrap"> <!-- Start wrap -->

    <!-- challenge description -->
    <h2 class="challenge">Examining the influence of the media on the level of aid following humanitarian crises.</h2>

    <!-- challenge introduction -->
    <p class="intro">At the Development Data Challenge in London, a group of developers, journalists, social entrepreneurs and international development experts set themselves the challenge of tracking the influence of media coverage on the amount of funding following natural disasters. We selected five major natural disasters from the last ten years; the Indian Ocean Tsunami (2004), the Haiti Earthquake (2010), the Pakistan Floods (2010) the Japan Earthquake (2011) and the East Africa Drought (2011). Using trusted databases and official reports from NGOs, we sourced the number of people affected by each disaster, as well as the amount of funds given by governments, private organisations, NGOs and the public. Finally, we connected to the YouTube API and used a filter to find television media coverage from reputable new organisations such as CNN, Al Jazeera and Reuters.</p>

    <hr>

    <!-- visualization section copy & repeat for additional visualizations -->
    <section class="visualization-section">

      <!-- visualization title -->
      <h3 class="visualization-title">Relative media and aid funding per crisis.</h3>

      <!-- container for visualization -->
      <div class="visualization-container">

        <div id="chart_div"></div>

        </div> <!-- end visualization-container -->

        <ul class="crisis-container">

          <li class="crisis-1">
            <h4 class="crisis-title">Haiti Earthquake</h4>
            <span class="crisis-date">January 2010</span>
            <span  class="crisis-description">On January 12th 2010 a 7.0 magnitude earthquake hit Haiti at 16:53 local time. Heavily urbanised areas close to the epicentre at Léogâne, as well as pre-existing poverty and governance and health problems, resulted in extensive damage. In the aftermath of the quake, Haiti was plagued by more than 50 aftershocks, further complicating relief efforts.</span>
          </li>

          <li class="crisis-2">
            <h4 class="crisis-title">Pakistan Floods</h4>
            <span class="crisis-date">July 2010</span>
            <span  class="crisis-description">After heavy monsoon rains, Pakistan was hit by its worst floods for over 80 years, in July 2010. With a third of the country under water, much of the country’s roads and bridges were seriously damaged, leaving victims out of the reach of  relief efforts. The submerged land included some of Pakistan’s most fertile areas meaning that agricultural crops and local jobs suffered even after the water subsided.</span>
          </li>

          <li class="crisis-3">
            <h4 class="crisis-title">Japanese Earthquake and Tsunami</h4>
            <span class="crisis-date">March 2011</span>
            <span  class="crisis-description">At 14:46 local time on March 11th 2011, the world’s fifth strongest earthquake shook Japan, followed by over 100 aftershocks. The earthquake created a devastating tsunami in the north-east of the country, sweeping over the Fukushima region and destroying everything in its path. Fukushima’s huge nuclear power plant was severely damaged by the earthquake resulting in a series of explosions, which posed a serious health risk to the region’s residents.</span>
          </li>

          <li class="crisis-4">
            <h4 class="crisis-title">East Africa Drought</h4>
            <span class="crisis-date">July 2011</span>
            <span  class="crisis-description">Severe drought in the Horn of Africa which began in July 2011 has resulted in food crises and ensuing health and migratory emergencies in several East African countries. Djibouti, Ethiopia, Kenya and Somalia have been deeply affected as well as Sudan, South Sudan and Uganda. UN defined famine (when there is a complete lack of food access and mass starvation, death and displacement) was declared in south Somalia in 2011.</span>
          </li>

          <li class="crisis-6">
            <h4 class="crisis-title">Indian Ocean Tsunami</h4>
            <span class="crisis-date">December 2004</span>
            <span  class="crisis-description">At 07:59 local time on December 26th 2004, an 8.9 magnitude earthquake occurred under the Indian Ocean. The world’s largest for at least 40 years, the earthquake triggered an enormous tsunami reaching heights of 10 metres. The tsunami spread across the entire Indian Ocean, hitting several south Asian countries as well as the coastlines of Somalia, Kenya and Tanzania. Indonesia, where the quake’s epicentre was located, was the country worst-hit by this disaster. </span>
          </li>

        </ul>

    <!-- visualization description -->
    <!-- <p class="visualization-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p> -->

    </section> <!-- end visualization-section -->

    <article class="ddc-blurb">

      <a href="http://developmentdatachallenge.org/"  class="ddc-link">
        <h3>Built as part of Development Data Challenge London August 25th 2012</h3>
      </a>
    
      <hr>

      <h3>Sources..</h3>

      <p>Youtube channels used to gage media impact.</p>
      <p>ABCNews, AlArabiya, AlJazeeraEnglish, AssociatedPress, BBCWorldwide, CBSNewsOnline, Channel4News, Euronews, FoxNewsChannel, HuffingtonPost, LeMonde, RussiaToday, TheGuardian, WSJDigitalNetwork, WashingtonPost, afp, aljazeerachannel, bbc, bloomberg, cbsnewsonline, channelnewsasia, cnn, elpaiscom, france24, itnnews, reutersvideo, russiatoday, skynews, spiegeltv, telegraphtv, thenewyorktimes</p>

    </article>

    <hr>

    <!-- link to source -->
    <a href="https://github.com/" class="source-link">View the source on Github</a>

    <!-- <hr>

      <h3>Sources</h3>

      <ul>

        <li>
          <p class="source-title">Source -title</p>
          <a class="source-link" href="#">Source link</a>
        </li>

        <li>
          <p class="source-title">Source -title</p>
          <a class="source-link" href="#">Source link</a>
        </li>

        <li>
          <p class="source-title">Source -title</p>
          <a class="source-link" href="#">Source link</a>
        </li>

      </ul> -->

    <hr>

  </div> <!-- end wrap -->
  
  <footer></footer>

  <!-- load javascript -->
  <!-- jQuery & jQuery UI loaded from google CDN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>

</body>
</html>
